/* TODO: make socials sticky and scroll while the user scrolls but stop at the navbar and footer */
.socialsColumn {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  justify-content: space-between;
  position: absolute;
  left: 50px;
}

.socialBG {
  background-color: #3a3a3a;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 5px;
}

.socialBG img {
  width: 100%;
}
