/* TODO: reference valorant website for button design using ::before and ::after sudo selectors */
.middleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainButt {
}
